
spring: 
  cloud:
    discovery:
      enabled: false
  # DB CONFIG
 
  datasource:
    platform: mariadb
    # driverClassName: org.mariadb.jdbc.Driver
    driver-class-name: org.mariadb.jdbc.Driver
    # Fixed in v1.3.3. Doesn't work with mariadb-connector-j v1.3.2 (CONJ-227)
    url: jdbc:mariadb:failover://localhost:3306/ms_auth?autoReconnect=true
    # If some of the hosts is down, app won't launch. v1.3.3
    #url: jdbc:mariadb:failover://192.168.33.11:3306,192.168.33.12:3306,192.168.33.13:3306/test?autoReconnect=true
    # Works with mariadb-connector-j v1.3.2
    #url: jdbc:mysql:failover://192.168.33.11:3306/test
    username: root
    password: tekanenter

    timeBetweenEvictionRunsMillis: 1000
    testWhileIdle: true
    validationQuery: SELECT 1
 
  jpa:
    database: MYSQL
  # Hibernate ddl auto (create, create-drop, validate, update) 
    hibernate:
      ddlAuto: update
    properties: 
      show_sql: true
      format_sql: true
      # DEBUG or TRACE is ok 